
<div class="row headerstyle">
    <div class="span10">
        <h2>Open Pull Requests</h2>
    </div>
</div>

<div class="Table">
    <div class="Heading">
        <div>
            <div>
                <div>
                    <div class="Cell">
                        <p>Repository</p>
                    </div>
                    <div class="Cell">
                        <p>Author</p>
                    </div>
                    <div class="Cell">
                        <p>Title</p>
                    </div>
                    <div class="Cell">
                        <div>
                            <p>Reviewers</p>
                        </div>
                    </div>
                    <div class="Cell">
                        <p>MergeBase</p>
                    </div>
                    <div class="Cell">
                        <p>Date Created</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-repeat="openrequest in openrequests">
        <div ng-repeat="request in openrequest">
            <div ng-repeat="value in request.Values">
                <div class="DivRow">
                    <div class="Cell">
                        <p>{{value.ToRef.Repository.Slug}}</p>
                    </div>
                    <div class="Cell">
                        <p>{{value.Author.User.DisplayName}}</p>
                    </div>
                    <div class="Cell">
                        <p><a href="{{value.Link.Url}}" ng-href="{{value.Link.Url}}">{{value.FromRef.DisplayId}}</a></p>
                    </div>
                    <div class="Cell">
                        <div ng-repeat="reviewers in value.Reviewers">
                            <p>{{reviewers.User.DisplayName}}</p>
                        </div>

                    </div>
                    <div class="Cell">
                        <p>{{value.ToRef.DisplayId}}</p>
                    </div>
                    <div class="Cell">
                        <p>{{value.CreatedDate | date:'dd-MMM-yyyy'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
   








