
<div class="Table">
    <div class="row headerstyle" style="font-size: 18">
        <p>Today, in GIT we can see the open/unmerged pull requests only if navigate to the application repository. At times, it is tedious to look into 20 different repositories looking for open/unmerged pull requests. This results in a possibility of us missing to approve the pull request(s) or merge it to master. Hence, we might end up in missing a feature or functionality in the service within the sprint duration. Sometimes, this merge or approval also spans over sprints.</p>

        <p>Git Administrator is created to address this issue.</p>
        <ul>
            <li>OpenRequests</li>
            <p>This will fetch all open pull requests across all repositories</p>

            <li>MergeReady</li>
            <p>This will fetch approved but yet to be merged pull requests across all repositories</p>

            <li>OpenBranches</li>
            <p>This will fetch all branches without an open/merged pull request</p>

            <li>Build And Merge Branch</li>
            <p>This is an integration with Jenkins which facilitates the functionality of building and merging a branch with master</p>

            <li>Hooks</li>
            <p>This provides a Central location to lookup the Hooks set up for all repositories</p>

            <li>Permission</li>
            <p>This provides a Central location to lookup the permissions set up for all repositories</p>

        </ul>
    </div>
</div>


    
   








