<html ng-app="requestModule">
    <head>
        <title>Pull Tracker</title>
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/requeststyle.css" rel="stylesheet" />
        <link href="~/Content/bootstrap_sandstone_min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/angular-v1.2.22.js"></script>
        <script src="~/Scripts/angular-route-v1.2.22.js"></script>
        <script src="~/Scripts/app/request-module.js"></script>
        <link href="~/Content/loading-bar.css" rel="stylesheet" />
        <script src="~/Scripts/ngProgress.js"></script>
        @RenderSection("JavaScriptInHead", required: false)
    </head>
    <body>
        @RenderBody();
    </body>
</html>
